body.modal-open {
    position: relative;
    &::after {
        content: "";
        background: $dark;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: .3;
    }
}
.image {
    text-align: center;
}
.image.image-style-align-right {float:right;margin: 0 0 15px 15px;}
.image.image-style-align-left {float:left; margin: 0 15px 15px 0;}
figcaption {
    text-align: center;
    font-style: italic;
}

figure.image img {max-width: 100%; height: auto;}

.fade-enter-active,.fade-leave-active {
    transition: opacity 1s ease;
}
.fade-enter-from,.fade-leave-to {
    opacity: 0;
}

.bg-gray-200 {
    background-color: $gray-200;
}
.bg-gray-300 {
    background-color: $gray-200;
}
.zero-square {
    width: 50px;
    height: 50px;
}

.product-price.is-sale {
    color: $gray-300;
    del {
        display: inline-block;
    }
}

#overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: .1;
    left: 0px;
    top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#overlay .spinner-grow.spinner-grow-lg {
    width:4rem;
    height:4rem;
}

.img-loading {
    background-color: $gray-200;
}

.toast-container {
    z-index: 9999;
}
#store-map-bg {
    background: url("/storage/contact-us-bg.jpg") center center / cover no-repeat rgb(233, 236, 239);
}
.cart-items {
    overflow-y: auto;
    max-height: 376px;
}
.letter-spacing-1px {
    letter-spacing: 1px;
}
.w300px {
    width: 300px;
}

/* print */
@media print {
    header, footer, button, a.btn, .no-print, .grecaptcha-badge {
        display: none!important;
    }
    .account-area .col-lg-12 {
        flex: 0 0 auto!important;
        width: 100%!important;
    }
    .print-only {
        display: flex!important;
    }
}

/**
 * Attribute selectors on the product details page
 */
.cursor-pointer {cursor: pointer;}
.pa {
    border: 1px solid var(--bs-gray-300);
    width: auto;
    &.pa-selected {
        border: 1px solid rgba($primary, .8);
        position: relative;
        font-weight: bold;
        &::after {
            position: absolute;
            top: 0;
            left: 2px;
            width: 1rem;
            height: 1rem;
            content: "\2713";
            font-size: 0.875rem;
            text-align: center;
            color: $primary;
        }
    }
    &.outofstock {
        background-color: var(--bs-gray-100);
        text-decoration: line-through;
        color: var(--bs-gray-500);
    }
}

.account-left-nav-container {
    .router-link-active {
        color: #fff!important;
        background-color: #0d6efd!important;
    }
}

select {
    option:disabled {
        background-color: #eee;
    }
}

table.table-scrollspy tbody {
    display: block;
    max-height: 31.25rem;
    overflow-y: scroll;
}

table.table-scrollspy thead, table.table-scrollspy tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

.input-qty {
    width: 80px;
}

#img-popup {
    .modal-dialog {
        max-width: 95vh;
    }
}

.media {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 991px) {
    table.table-scrollspy tbody {
        overflow: visible;
        max-height: 100%;
    }
}

@media (max-width: 767px) {
    #main-account_quick_reorder {
        thead {
            display: none;
        }
        tbody, tfoot, tr, td, th {
            border-color: inherit;
            border-style: solid;
            border-width: 0;
            display: block;
        }
    }
}