body {
    font-weight: $font-weight-light;
}

.main {
    margin-top: 6rem;
}
#main-index {
    margin-top: 0;
}

.z-home-nav {
    background-color: $dark;
    padding: .5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
#main-index {
    .z-home-nav {
        background-color: transparent;
        padding: 1rem 0;
        position: absolute;
    }
}

#slideshow {
    height: 100vh;
    background-color: $gray-200;
    .carousel-item {
        height: 100vh;
    }
}

.z-home-nav {
    .navbar-nav {
        > .nav-item > a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}

.z-mobile-cart-bag {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    top: 4px;
    left: 17px;
}

.footer-middle-section {
    h3 {
        display: none;
    }
    .block-element__content {
        .title {
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
            margin-bottom: 1rem;
        }
        .image {
            text-align: left;
            img {
                width: 120px;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .block-element {
        a {
            color: $dark;
        }
        .heading {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }

}

.z-index-sidebar {
    .home-top-section {
        margin-top: 0 !important;
        h3 {
            display: none;
        }
        .block-element {
            width: 100%;
            border: 1px dashed $gray-300;
            padding: .5rem;
            margin:0 0 1rem 0!important;
        }
    }
    
}

@media (max-width: 1199px) {
    #slideshow {
        height: auto;
        min-height: 300px;
        .carousel-item {
            height: auto;
            min-height: 300px;
        }
        .slideshow__h1 {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 991px) {
    #slideshow {
        min-height: 300px;
        .carousel-item {
            min-height: 300px;
        }
    }
}

@media (max-width: 767px) {
    .carousel-item {
        height: auto;
    }
    #slideshow {
        min-height: 200px;
        .carousel-item {
            min-height: 200px;
        }
        .slideshow__h1 {
            font-size: 1rem;
        }
    }
    #offcanvas-menu {
        .navbar-nav {
            flex-grow: 1;
            padding: 1rem 1rem;
            overflow-y: auto;
            width: 100%!important;
            > .nav-item {
                > a {
                    color: $dark;
                }
                &:hover > a {
                    background-color: transparent!important;
                    color: $primary!important;
                    font-weight: $font-weight-bold;
                }
            }
            .dropdown-menu {
                border: 0!important;
                padding: 0 0 0 1rem !important;
                .nav-item {
                    > a {
                        background-color: transparent!important;
                    }
                    &:hover > a {
                        background-color: transparent!important;
                        color: $primary!important;
                    }
                }
            }
            .megamenu {
                border: 0!important;
                padding: 0 0 0 1rem !important;
                .col {
                    width: 100% !important;
                    flex: 0 0 auto;
                    .link-heading {
                        padding: 1rem 0 .5rem !important;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    
}

