body {
    font-weight: $font-weight-light;
}

.main {
    margin-top: 6rem;
}
#main-index {
    margin-top: 0;
}

.z-home-nav {
    background-color: $dark;
    padding: .5rem 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
}
#main-index {
    .z-home-nav {
        background-color: transparent;
        padding: 1rem 0;
        position: absolute;
    }
}

#slideshow {
    height: 100vh;
    background-color: $gray-200; // loading...
    .carousel-inner {
        background-color: $black; // make the slideshow darker
    }
    .carousel-item {
        height: 100vh;

        // make the slideshow darker
        background-color: $black;
        opacity: .5;
    }
}

.z-home-nav {
    .navbar-nav {
        > .nav-item > a {
            color: $white;
            &:hover {
                color: $white;
            }
        }
    }
}

.z-mobile-cart-bag {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    top: 4px;
    left: 17px;
}

.footer-middle-section {
    margin-top: 0!important;
    padding: 3rem 0!important;
    h3 {
        display: none;
    }
    .block-element__content {
        .title {
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
            margin-bottom: 1rem;
        }
        .image {
            text-align: left;
            img {
                width: 120px;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .block-element {
        a {
            color: $dark;
        }
        .heading {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }

}

.z-index-sidebar {
    > .container {
        padding: 0!important;
    }
    .home-top-section {
        margin: 0 !important;
        h3 {
            display: none;
        }
        .block-element {
            width: 100%;
            border: 1px dashed $gray-300;
            padding: .5rem;
            margin:0 0 1rem 0!important;
            .title {
                font-weight: $font-weight-bold;
                padding:.5rem 0;
            }
            .text {
                color: $gray-500;
            }
        }
    }
    
}

.home-bottom-section {
    min-height: 150px;
    h3 {
        display: none;
    }
    .block-element {
        position: relative;
    }
    .block-element__img {
        position: relative;
        &.img-loading {
            width: 100%;
            min-height: 160px;
            background-color: $gray-200;
            padding: 1rem;
            opacity: .5;
        }
        img {
            width: 100%;
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            background: black;
            height: 100%;
            opacity: .4;
        }
    }
    .block-element__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0 100px;
        width: 100%;
        color: $white;
        .title {
            font-size: 1.5rem;
            a {
                color: $white;
                text-decoration: none;
                font-weight: $font-weight-bold;
            }
        }
    }
}

.newsletter-container {
    height: 350px;
}

#listing-filter-inner {
    display: block;
    opacity: 1;
    position: relative;
    z-index: 0;
    .modal-dialog {
        margin: 0;
        transform: none;
        .modal-header, .modal-footer {
            display: none;
        }
        .modal-content {
            border: 0;
            .modal-body {
                padding: 0;
            }
        }
    }
}

@media (max-width: 1199px) {
    .main {
        margin-top: 10rem;
    }
    #slideshow {
        height: auto;
        min-height: 300px;
        .carousel-item {
            height: auto;
            min-height: 300px;
        }
        .slideshow__h1 {
            font-size: 2.5rem;
        }
    }
}

@media (max-width: 991px) {
    #slideshow {
        min-height: 300px;
        .carousel-item {
            min-height: 300px;
        }
    }
    .z-index-sidebar {
        .home-top-section {
            .block-element {
                width: 50%;
                border: 0;
            }
        }
        
    }
}

@media (max-width: 767px) {
    .carousel-item {
        height: auto;
    }
    #slideshow {
        min-height: 200px;
        .carousel-item {
            min-height: 200px;
        }
        .slideshow__h1 {
            font-size: 1rem;
        }
    }
    #offcanvas-menu {
        .navbar-nav {
            flex-grow: 1;
            padding: 1rem 1rem;
            overflow-y: auto;
            width: 100%!important;
            > .nav-item {
                > a {
                    color: $dark;
                }
                &:hover > a {
                    background-color: transparent!important;
                    color: $primary!important;
                    font-weight: $font-weight-bold;
                }
            }
            .dropdown-menu {
                border: 0!important;
                padding: 0 0 0 1rem !important;
                .nav-item {
                    > a {
                        background-color: transparent!important;
                    }
                    &:hover > a {
                        background-color: transparent!important;
                        color: $primary!important;
                    }
                }
            }
            .megamenu {
                border: 0!important;
                padding: 0 0 0 1rem !important;
                .col {
                    width: 100% !important;
                    flex: 0 0 auto;
                    .link-heading {
                        padding: 1rem 0 .5rem !important;
                    }
                }
            }
        }
    }
    .z-banner-block {
        max-height: 200px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}

@media (max-width: 575px) {
    
}

