body {
    font-weight: $font-weight-light;
}
b, strong {
    font-weight: $font-weight-bold;
}
.tertiary-section {
    margin: 0!important;
    .block-element, p {
        margin: 0!important;
    }
    h3, .title {
        display: none;
    }
}

.z-nav-link {
    color: rgba(0, 0, 0, 0.55) !important;
}
.z-mobile-cart-bag {
    width: 18px;
    height: 18px;
    text-align: center;
    font-size: 10px;
    top: 4px;
    left: 17px;
}

.minicart__count {
    width: 20px;
    height: 20px;
    top: 12px;
    font-size: 10px;
    right: -6px;
}

#offcanvas-menu {
    .navbar-primary {
        ul {
            li {
                line-height: 40px;
                margin: 4px 0;
                a {
                    transition: all .5s ease;
                }
                a.has-sub {
                    position: relative;
                    &::after {
                        padding: 0;
                        position: absolute;
                        top: -3px;
                        right: 1rem;
                        content: "\203A";
                        font-size: 1.625rem;
                        color: $gray-300;
                    }
                }
                a {
                    &:hover, &.active {
                        background-color: rgba(var(--bs-info-rgb), .1)
                    }
                    &.active::after {
                        transform: rotate(90deg);
                        color: $danger;
                    }
                }
            }
        }
        .offcanvas__node-parent, .offcanvas__node-children {
            display: none;
            &.show {
                display: block;
            }
        }
    }
}

.loading {
    &#slideshow, &.carousel-item {
        min-height: 350px;
        background-color: $gray-200;
    }
}
.slideshow__h1 {
    text-shadow: 0 1px 0 rgba(255, 255, 255, .75);
}

.home-top-section {
    > h3 {
        display: none;
    }
    .block-element {
        display: flex;
        .block-element__icon {
            width: 60px;
        }
        .block-element__content {
            .title {
                font-weight: $font-weight-bold;
            }
        }
    }
}

.product-widget__inner {
    .inner__title {
        line-height: 24px;
    }
    .inner__cart {
        opacity: 0;
        transition: all .5s ease-in-out;
    }
    &:hover .inner__cart {
        opacity: 1;
    }
    .inner__additional-images {
        height: 30px;
    }
}

.home-bottom-section {
    h3 {
        font-weight: $font-weight-bold;
    }
    .block-element {
        display: flex;
        align-items: center;
        border-bottom: 15px solid $success;
        .block-element__img {
            flex-shrink: 0;
            width: 50%;
        }
        .block-element__content {
            .title {
                font-size: 1.5rem;
                margin-bottom: 1rem;
                a {
                    color: $info;
                    text-decoration: none;
                }
            }
        }
    }
}

.z-subscribe-input {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-left: 30px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.z-subscribe-question {
    width: 160px;
}
.footer-middle-section {
    h3 {
        display: none;
    }
    .block-element__content {
        .title {
            font-size: 1.25rem;
            font-weight: $font-weight-bold;
            margin-bottom: 1rem;
        }
        .image {
            text-align: left;
            img {
                width: 120px;
            }
        }
        p {
            margin-bottom: 0;
        }
    }
    .block-element {
        a {
            color: $dark;
        }
        .heading {
            font-weight: $font-weight-bold;
            text-transform: uppercase;
        }
    }

}

#offcanvas-filter {
    visibility: visible!important;
    position: static;
    transform: translateX(0);
    border: 0;
    .offcanvas-header {
        display: none;
    }
    .offcanvas-body {
        padding: 0;
        overflow: visible;
    }
    .filter-options {
        overflow-y: auto;
        max-height: 400px;

        /* width */
        &::-webkit-scrollbar {
            width: 5px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
            background: #f1f1f1; 
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: #ccc; 
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
            background: #ddd; 
        }
    }
    .arrow {
        transform: rotate(90deg);
        transition: transform .5s ease;
        padding-right: 0.5rem 0;
    }
    .collapsed {
        .arrow {
            transform: rotate(0);
        }
    }
    
    
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    filter: invert(100%);
}

.zuc-listing-products__category {
    img {
        max-width: 100% !important;
        height: auto !important;
    }
}

@media (max-width: 991px) {
    #z-button-hamburger {
        padding: 10px 13px;
    }
    .home-top-section {
        justify-content: center;
        .block-element {
            width: 33.33333333%;
        }
    }
    .home-bottom-section {
        .block-element {
            .block-element__img {
                width: 41.66666667%;
            }
        }
    }
    #offcanvas-filter {
        &:not(.show) {
            visibility: hidden!important;
        }
        position: fixed;
        transform: none;
        border: 1px solid rgba(0, 0, 0, 0.2);
        .offcanvas-header {
            display: flex;
        }
        .offcanvas-body {
            padding: 1rem 1rem;
            overflow-y: auto;
            
        }
        .filter-options {
            max-height: 100%;
        }
        .arrow {
            transform: rotate(90deg);
            transition: transform .5s ease;
            padding-right: 0.5rem;
        }
        .collapsed {
            .arrow {
                transform: rotate(0);
            }
        }
    }
}

@media (max-width: 767px) {
    #z-minicart {
        position: absolute;
        top: 17px;
        right: 0;
        margin-right: var(--bs-gutter-x, 0.75rem);
    }
    .home-top-section {
        .block-element {
            width: 50%;
            display: block;
        }
    }
    .home-bottom-section {
        .block-element {
            position: relative;
            .block-element__img {
                width: 100%;
                position: absolute;
                opacity: .1;
            }
        }
    }
}

@media (max-width: 575px) {
    .slideshow__h1 {
        font-size: 1.5rem;
    }
    .z-subscribe-question {
        width: 100%;
    }
    .header__main {
        .navbar-brand img {
            width: 180px !important;
        }
    }
    .inner__additional-images {
        display: none!important;
    }
}

