@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

* {
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: normal;
}

strong u {
	font-weight: bold;
}

.hide-cart-btn .cart-form {
	display: none;
}

.list-disc ul {
	list-style: disc;
    margin-left: 2rem;
    line-height: 28px;
	margin-bottom: 1rem;
}

.invalid {
    color: #f87171; /* Tailwind red-500 */
    opacity: 0.5; /* Dim appearance */
    pointer-events: none; /* Disable interactions */
}

.outofstock {
    color: #9ca3af; /* Tailwind gray-400 */
    opacity: 0.7; /* Slightly dim appearance */
    cursor: not-allowed; /* Change cursor to "not allowed" */
    background-color: rgb(249 250 251)!important;
}

p, figure.image, h3, h4, figure.media {
    margin-bottom: 1rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
b, strong {
    font-weight: bolder;
}
figure.media {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
    width: 100%;
}
.media iframe {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
.font-bold {
	font-weight: 700;
}

.select-bg {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e");
    background-size: 16px 12px;
    background-position: right 0.75rem center;
    background-repeat: no-repeat;
}

@media (min-width: 1024px) {
    .nav-shadow {
        border-bottom: 1px solid #ced4da;
		border-top: 1px solid #ced4da;
		box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .08);
    }
}

.navbar-primary .nav-item.dropdown .dropdown-menu {
	display: block;
    opacity: 0;
    transform: translateY(10px);
    transition: all 0.3s ease;
    visibility: hidden;
    pointer-events: none;
    position: absolute;
    z-index: 50;
}

/*.navbar-primary .nav-item.dropdown {
	position: relative;
}*/

.navbar-primary .nav-item.dropdown:hover > .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.navbar-primary.keepalive .nav-item.is-active > .dropdown-menu {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;
}

.navbar-primary:not(.click-to-hide) .nav-item.is-active > .dropdown-menu {
    opacity: 0;
    transform: translateY(-8px);
    visibility: hidden;
    pointer-events: none;
}

.navbar-primary .nav-item:hover > .base-link {
    background-color: #e9ecef;
}

.navbar-primary .nav-item.dropdown.has-sub > .base-link:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 50%;
    width: 6px;
    height: 6px;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    transform: translateY(-50%) rotate(-45deg);
    pointer-events: none;
}

.dropdown-menu.submenu {
	display: none;
}

.footer-middle-section .h3, .count-1 {
	display: none;
}

.product-card-tooltip ul {
	list-style-type: disc;
    padding-left: 20px;
    margin: 0;
}

@media (min-width: 1024px) {
    .filter-hide {
        display: none;
    }
}

@media (max-width: 1023.98px) {
    #filter-sidebar {
        position: fixed !important;
        top: 0;
        right: 0;
        z-index: 9999;
        width: 50%;
        height: 100%;
        background: #fff;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
        padding: 20px;
        overflow-y: auto;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;
    }

    #col-filter.filter-show #filter-sidebar {
        transform: translateX(0);
    }
	
	#col-filter.filter-show #filter-overlay {
        display: block;
    }
	
	#filter-overlay {
        display: none;
        z-index: 9993;
    }
	.checkout-auth-no .right-column {
		display:none;
	}
	.schematic-dialog .product-card-tooltip {
		left: -180px !important;
	}
}

@media (max-width: 575.98px) {
    #filter-sidebar {
        width: 75%;
    }
}

@media (max-width: 767.98px) {
    .footer-middle-section .block-item .element-item {
        display: none;
    }
    .footer-middle-section .block-item.active .element-item {
        display: block;
    }
    .footer-middle-section .block-item .heading {
        position: relative;
        padding-right: 24px;
        cursor: pointer;
        user-select: none;
    }
    .footer-middle-section .block-item .heading::after {
        content: "+";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
        line-height: 1;
        transition: 0.2s ease;
    }
    .footer-middle-section .block-item.active .heading::after {
        content: "-";
    }
}

.embla {
	overflow: hidden;
}
.embla__container {
	display: flex;
}
.embla__slide {
	flex: 0 0 100%;
	min-width: 0;
}

.embla__dot--selected {
	border-color: #364153;
}

.menu-block-36 {
    background: #fff url("/storage/PODCASTS.jpg");
    height: 2.5rem;
    padding: .5rem !important;
}

.blog-sidebar-menu-section .h3, .blog-sidebar-menu-section .content  {
	padding: .5rem;
}



/*
.headroom--unpinned .autocomplete-input {
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
	font-size: 0.875rem;
}

.header-top {height:35px;}
.headroom--unpinned .header-top, .headroom--unpinned .cart-text {
	height: 0;
	opacity:0;
	visibility: hidden;
}
*/

/*
.headroom--unpinned .bi-cart3 {
	width: 24px;
	height: 24px;
}*/

.blog-top-section,
[class^="custom_schematic_"] {
    display: block;
}

.blog-top-section .h3,
[class^="custom_schematic_"] .h3 {
    display: none;
}

.blog-top-section .content,
[class^="custom_schematic_"] .content {
    margin-bottom: 0;
}

.blog-top-section .content div,
[class^="custom_schematic_"] .content div {
    display: inline-block;
}

.blog-top-section .content a,
[class^="custom_schematic_"] .content a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    display: inline-block;
    transition: all 0.2s ease;
    margin-right: 16px;
}

.blog-top-section .content a:hover,
.blog-top-section .content a.router-link-exact-active,
[class^="custom_schematic_"] .content a:hover,
[class^="custom_schematic_"] .content a.router-link-exact-active {
    color: #2563EB;
}


.prodDescH1 {
    font-weight: 800;
    font-size: 1.6rem;
    margin-bottom: 1rem!important;
}

.prodDescH2 {
    font-weight: 800;
    font-size: 1.3rem;
    margin-top: 1rem;
}

.account-nav .router-link-active {
    background-color: #2c3e50 !important;
    color: #fff !important;
}

.product-embed iframe {
	width:100%;
	height:100%;
}

.product-unavailable, .count-1 {
	display: none;
}

.braintree-heading {
	display:none;
}

[data-braintree-id="save-card-field-group"] {
    margin-top: 20px !important;
    padding-left: 5px;
}

[data-braintree-id="save-card-field-group"] .braintree-form__label {
    margin-left: 10px !important;
    cursor: pointer;
    font-size: 14px;
}

[data-braintree-id="save-card-field-group"] input[type="checkbox"] {
    transform: scale(1.2);
    cursor: pointer;
}